/* line 6, ../sass/sport-omega.popular-view.scss */
.panels-flexible-region-homepage_flexible_layout-bottom_region,
.panels-flexible-region-event_node_flexible_layout-bottom_region {
  background: #003366;
  padding: 1em !important; }

/* line 18, ../sass/sport-omega.popular-view.scss */
.pane-popular-sport-event-views .pane-title {
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  padding: 0 0 0.2em 0;
  margin: 0; }
/* line 31, ../sass/sport-omega.popular-view.scss */
.pane-popular-sport-event-views .view-content .views-row {
  width: 25%;
  height: auto;
  float: left;
  padding: 0 0.5em 0 0.5em;
  display: inline-block; }
  /* line 42, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__title {
    font-size: 0.85em;
    padding: 0;
    margin: 0; }
    /* line 49, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__title a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    /* line 56, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__title a:hover {
      text-decoration: underline; }
  /* line 61, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__submitted,
  .pane-popular-sport-event-views .view-content .views-row .node-readmore {
    display: none; }
  /* line 67, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-body,
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-location {
    display: none; }
  /* line 72, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport,
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league {
    display: inline-block; }
    /* line 77, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport .field__label,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league .field__label {
      display: none; }
    /* line 81, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport a,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league a {
      color: #f7970b;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85em; }
    /* line 91, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport a:hover,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league a:hover {
      text-decoration: underline; }
  /* line 97, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league {
    border-left: 1px solid white;
    padding: 0 0.5em 0 0.5em;
    margin: 0 0.5em 0 0.5em; }
  /* line 105, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date {
    visibility: collapse; }
    /* line 106, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date .field__label {
      display: none; }
    /* line 113, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date span {
      visibility: visible;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.85em; }
    /* line 125, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date .date-display-end {
      display: none; }
  /* line 134, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference .field__label {
    display: none; }
  /* line 139, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference article.node header {
    display: none; }
  /* line 145, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference:after {
    text-transform: uppercase;
    color: white;
    padding: 5px 25px 5px 25px;
    background-color: #f7970b;
    position: relative;
    top: -2.5em;
    left: 0.5em; }
  /* line 155, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-pre-live-video:after {
    content: "upcoming"; }
  /* line 159, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-post-live-video:after {
    content: "replay"; }
  /* line 163, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-live-video:after {
    content: "live"; }

/*# sourceMappingURL=sport-omega.popular-view.css.map */
