/* line 5, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__title a {
  color: white;
  text-decoration: none; }
/* line 11, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__submitted {
  display: none; }
/* line 16, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-post-game-flag,
.view-id-main_feature_hero .node__content .field--name-body {
  display: none; }
/* line 25, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport .field__label,
.view-id-main_feature_hero .node__content .field--name-field-league .field__label,
.view-id-main_feature_hero .node__content .field--name-field-teams .field__label,
.view-id-main_feature_hero .node__content .field--name-field-location .field__label {
  display: none; }
/* line 29, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport .locality,
.view-id-main_feature_hero .node__content .field--name-field-sport a,
.view-id-main_feature_hero .node__content .field--name-field-league .locality,
.view-id-main_feature_hero .node__content .field--name-field-league a,
.view-id-main_feature_hero .node__content .field--name-field-teams .locality,
.view-id-main_feature_hero .node__content .field--name-field-teams a,
.view-id-main_feature_hero .node__content .field--name-field-location .locality,
.view-id-main_feature_hero .node__content .field--name-field-location a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }
/* line 38, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport a:hover,
.view-id-main_feature_hero .node__content .field--name-field-league a:hover,
.view-id-main_feature_hero .node__content .field--name-field-teams a:hover,
.view-id-main_feature_hero .node__content .field--name-field-location a:hover {
  text-decoration: underline; }
/* line 43, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-location {
  position: absolute;
  top: 2em; }
/* line 49, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport,
.view-id-main_feature_hero .node__content .field--name-field-league,
.view-id-main_feature_hero .node__content .field--name-field-teams {
  display: inline-block; }
/* line 56, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-league {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em; }
/* line 65, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-date .field__label {
  display: none; }
/* line 69, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-date span {
  color: #f7970b;
  font-weight: bold;
  text-decoration: none; }
/* line 80, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference .field__label {
  display: none; }
/* line 85, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference article.node header {
  display: none; }
/* line 91, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference:after {
  text-transform: uppercase;
  color: white;
  padding: 5px 25px 5px 25px;
  background-color: #f7970b;
  position: relative;
  top: -2.5em;
  left: 0.5em; }
/* line 105, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-pre-live-video:after {
  content: "upcoming"; }
/* line 109, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-post-live-video:after {
  content: "replay"; }
/* line 113, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-live-video:after {
  content: "live"; }

/*# sourceMappingURL=sport-omega.main-content.css.map */
