/* line 6, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__title {
  margin-top: 0;
  padding: 0; }
  /* line 7, ../sass/sport-omega.main-content.scss */
  .view-id-main_feature_hero .node__title a {
    color: white;
    text-decoration: none; }
  /* line 12, ../sass/sport-omega.main-content.scss */
  .view-id-main_feature_hero .node__title a:hover {
    text-decoration: underline; }
/* line 20, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__submitted,
.view-id-main_feature_hero .node-readmore {
  display: none; }
/* line 30, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport .field__label,
.view-id-main_feature_hero .node__content .field--name-field-league .field__label,
.view-id-main_feature_hero .node__content .field--name-field-location .field__label {
  display: none; }
/* line 34, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport .locality,
.view-id-main_feature_hero .node__content .field--name-field-league .locality,
.view-id-main_feature_hero .node__content .field--name-field-location .locality {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }
/* line 42, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport a,
.view-id-main_feature_hero .node__content .field--name-field-league a,
.view-id-main_feature_hero .node__content .field--name-field-location a {
  color: #f7970b;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }
/* line 50, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport a:hover,
.view-id-main_feature_hero .node__content .field--name-field-league a:hover,
.view-id-main_feature_hero .node__content .field--name-field-location a:hover {
  text-decoration: underline; }
/* line 56, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-sport,
.view-id-main_feature_hero .node__content .field--name-field-league {
  display: inline-block; }
/* line 62, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-league {
  border-left: 1px solid;
  padding: 0 0.5em 0 0.5em;
  margin: 0 0.5em 0 0.5em; }
/* line 70, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-date .field__label {
  display: none; }
/* line 74, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .node__content .field--name-field-date span {
  color: white;
  font-weight: bold;
  text-decoration: none; }
/* line 86, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference .field__label {
  display: none; }
/* line 91, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference article.node header {
  display: none; }
/* line 97, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--type-entityreference:after {
  text-transform: uppercase;
  color: white;
  padding: 5px 25px 5px 25px;
  background-color: #f7970b;
  position: relative;
  top: -2.5em;
  left: 0.5em; }
/* line 111, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-pre-live-video:after {
  content: "upcoming"; }
/* line 115, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-post-live-video:after {
  content: "replay"; }
/* line 119, ../sass/sport-omega.main-content.scss */
.view-id-main_feature_hero .field--name-field-live-video:after {
  content: "live"; }

/*# sourceMappingURL=sport-omega.main-content.css.map */
