/* line 8, ../sass/sport-omega.popular-view.scss */
.pane-popular-sport-event-views .pane-title {
  text-transform: uppercase; }
/* line 14, ../sass/sport-omega.popular-view.scss */
.pane-popular-sport-event-views .view-content .views-row {
  width: 25%;
  height: auto;
  float: left;
  padding: 0 0.5em 0 0.5em;
  display: inline-block; }
  /* line 25, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__title {
    font-size: 0.85em;
    padding: 0;
    margin: 0; }
    /* line 32, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__title a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    /* line 39, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__title a:hover {
      text-decoration: underline; }
  /* line 44, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__submitted,
  .pane-popular-sport-event-views .view-content .views-row .node-readmore {
    display: none; }
  /* line 50, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-body,
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-location {
    display: none; }
  /* line 55, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport,
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league {
    display: inline-block; }
    /* line 60, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport .field__label,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league .field__label {
      display: none; }
    /* line 64, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport a,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league a {
      color: #f7970b;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85em; }
    /* line 74, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-sport a:hover,
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league a:hover {
      text-decoration: underline; }
  /* line 80, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-league {
    border-left: 1px solid;
    padding: 0 0.5em 0 0.5em;
    margin: 0 0.5em 0 0.5em; }
  /* line 88, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date {
    visibility: collapse; }
    /* line 89, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date .field__label {
      display: none; }
    /* line 96, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date span {
      visibility: visible;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.85em; }
    /* line 108, ../sass/sport-omega.popular-view.scss */
    .pane-popular-sport-event-views .view-content .views-row .node__content .field--name-field-date .date-display-end {
      display: none; }
  /* line 117, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference .field__label {
    display: none; }
  /* line 122, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference article.node header {
    display: none; }
  /* line 128, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--type-entityreference:after {
    text-transform: uppercase;
    color: white;
    padding: 5px 25px 5px 25px;
    background-color: #f7970b;
    position: relative;
    top: -2.5em;
    left: 0.5em; }
  /* line 142, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-pre-live-video:after {
    content: "upcoming"; }
  /* line 146, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-post-live-video:after {
    content: "replay"; }
  /* line 150, ../sass/sport-omega.popular-view.scss */
  .pane-popular-sport-event-views .view-content .views-row .field--name-field-live-video:after {
    content: "live"; }

/*# sourceMappingURL=sport-omega.popular-view.css.map */
