@import "sport-omega.includes";

#superfish-1 {

  a,
  span {
    text-transform: uppercase;
    text-decoration: none;

    background-color: $color-background;
  }

  a:hover {
    text-decoration: underline;
    color: $color-link;
  }

  span:hover {
    color: $color-link-hover;
  }
}