video{
	width: 100% !important;
	height: auto;
}

.field--type-entityreference {

  width: 100%;

  .mediaelement-video {
    background-color: black;
  }

  div,
  .field__items,
  .field__item,
  .field--type-file {
	width: 100%;
  }
}

/**
 * Removes headers for the taxonomy 
 * page
 */
.page-taxonomy-term {
	p.submitted > span {
		display: none;
	}

	.node__content > .field > .field__label {
		display: none;
	}

	.taxonomy-term__content > .field--name-field-sport > .field__label{
		display: none;
	}
}