// Requires teaser view mode

@import 'sport-omega.includes';

// Background color
.panels-flexible-homepage_flexible_layout {
  .panels-flexible-column-first {
    background: $color-background;

    padding: $container-padding 0 $container-padding $container-padding;
  }
}

// Main hero container
.view-id-main_feature_hero {

  .node__title {

    margin: 0 0 1em 0;

    a {
      color: $color-font;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .node__submitted,
  .node-readmore {
    display: none;
  }

  .node__content {

    .field--name-field-date {
      float: right;

      span {
        color: $color-font;

        font-size: 0.85em;
        text-transform: uppercase;
      }
    }

    .field--name-field-sport,
    .field--name-field-league {
      a {
        color: $color-link;

        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // Make them a single line
    .field--name-field-sport,
    .field--name-field-league {
      display: inline-block;
    }

    // Make dividers
    .field--name-field-league {
      border-left: 1px solid $color-font;

      padding-left: 0.5em;
      margin-left: 0.5em;
    }
  }

  // Video entity styling
  .field--type-entityreference {

    .field__label {
      display: none;
    }

    article.node {
      header {
        display: none;
      }
    }
  }

  @include date-status-overlay();
}