//mixin for browser compatibility
@mixin sport-omega-flex-direction() {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin sport-omega-flex-wrap() {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin sport-omega-justify-content() {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

//Styling for Event Node View
#supersport-event-node-page{
  padding: 1em;
  background: #003366;

  p {
    display:none;
  }

  //container for sport image or video
  .node__content {
    //configure browser compatibility for flexbox
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    @include sport-omega-flex-direction();
    @include sport-omega-flex-wrap();
    @include sport-omega-justify-content();

    a {
      color: #f7970b;
    }

    // align teams and location to opposite ends of container
    .field--type-entityreference{
      width:100%;
      margin-bottom: 1em;
      .field__label{
        display: none;
      }
      .node__title{
        display: none;
      }
    }

    .field--name-field-date,
    .field--name-field-sport,
    .field--name-field-league,
    .field--name-field-post-game-flag
    {
      display: none;
    }

    .field--name-field-location,
    .field--name-field-teams{
      .locality{
        font-weight: bold;
        color:white;
      }
      .field__label {
        font-weight:normal;
        color:#ffffff;
        text-transform: uppercase;
      }

      a{
        font-weight:bold;
        text-decoration: none;
      }
    }

    .field--name-field-image {
      .field__label {
        display: none;
      }
    }
  }
}