// Requires teaser view mode

@import 'sport-omega.includes';

// Background color
.panels-flexible-region-supersport_three_row_layout-supersport_three_region_three,
.panels-flexible-region-homepage_flexible_layout-bottom_region {
  background: $color-background;

  padding: $container-padding !important;
}

// Everything under popular view
.pane-popular-sport-event-views {

  $content-font-size: 0.85em;

  .pane-title {
    text-transform: uppercase;

    font-size: 1.2em;

    color: $color-font;

    padding: 0 0 0.2em 0;
    margin: 0;
  }

  .view-content {

    .views-row  {
      // 4 events on nodequeue at all times
      width: 25%;
      height: auto;

      float: left;

      padding: 0 0.5em 0 0.5em;

      display: inline-block;

      .node__title {

        font-size: $content-font-size;

        padding: 0;
        margin: 0;

        a {
          color: $color-font;
          text-decoration: none;

          text-transform: uppercase;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .node__submitted,
      .node-readmore {
        display: none;
      }

      .node__content {
        .field--name-body,
        .field--name-field-location {
          display: none;
        }

        .field--name-field-sport,
        .field--name-field-league {

          display: inline-block;

          .field__label {
            display: none;
          }

          a {
            color: $color-link;

            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;

            font-size: $content-font-size;
          }

          a:hover {
            text-decoration: underline;
          }
        }

        // Make dividers
        .field--name-field-league {
          border-left: 1px solid $color-font;

          padding: 0 0.5em 0 0.5em;
          margin: 0 0.5em 0 0.5em;
        }


        .field--name-field-date {
          .field__label {
            display: none;
          }

          // Remove " to " whenever there's an end date
          visibility: collapse;

          span {
            visibility: visible;

            color: $color-font;

            text-decoration: none;
            text-transform: uppercase;

            font-size: $content-font-size;
          }

          // Remove end date from showing
          .date-display-end {
            display: none;
          }
        }
      }

      // Video entity styling
      .field--type-entityreference {

        .field__label {
          display: none;
        }

        article.node {
          header {
            display: none;
          }
        }
      }

      @include date-status-overlay();

      // Specific video entity styling
      .field--name-field-pre-live-video:after {
        content: "upcoming";
      }

      .field--name-field-post-live-video:after {
        content: "replay";
      }

      .field--name-field-live-video:after {
        content: "live";
      }
    }
  }
}