h1 a {
  color: #f7970b;
}

footer {
  .node__submitted {
    dislplay: none;
  }
}

p {
  display:none;
}
.node__title a {
  display:none;
}

.l-content h1 {
  display:none;
}
h2 a {
  color: #f7970b;
}

p a {
  color: #f7970b;
}

.field-content {
  a {
    color: #f7970b;
  }

}

.node__content {
  a {
    color: #f7970b;
  }
  .field--name-field-date{


      display:none;
    }

  .field--name-field-sport{


    display:none;
  }

  .field--name-field-league{


    display:none;
  }

  .field--name-field-post-game-flag{


    display:none;
  }

  .field--name-field-teams{


    display:none;
  }





  .field--name-field-location{


    display:none;
  }

  .field__label{


    display:none;
  }

}


.links a {
  color: #f7970b;

}

.block__content span a {
  color: #f7970b;

}

.breadcrumb a {
  display:none;
}

.menu a {
  color: #f7970b;

}

