// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/*";
@import "abstractions/*";
@import "base/*";
@import "components/*";

/* Gradient background following the eversport.tv theme */
body{
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(black, #353e66);
  /* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(black, #353e66);
	/* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(black, #353e66);
  /* Standard syntax */
	background: linear-gradient(black, #353e66);
	    height: 100%;
    margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
