@import 'sport-omega.includes';

.supersport-event-header {

  padding: $container-padding;
  background: $color-background;

  .supersport-event-header-left {
    float: left;
  }

  .supersport-event-header-right {
    float: right;
  }

  .supersport-event-header-breadcrumb-crumb {

    a {
      color: $color-link;
      font-weight: bold;
      text-decoration: none;
      font-size: 115%;
    }

    a:hover {
      color: $color-link-hover;
      text-decoration: underline;
    }
  }

  .supersport-event-header-breadcrumb-separator {
    color: $color-font;

    // Divider
    border-right: 1px solid $color-font;

    margin-left: 10px;
    margin-right: 10px;
  }

  .supersport-event-header-title {
    color: $color-font;

    font-size: 150%;
    font-weight: bold;
  }

  .supersport-event-header-date {
    float: right;
    margin-top: 5px;

    color: $color-font;

    text-transform: uppercase;
  }

  .supersport-event-header-date-status {

    float: right;

    @include date-status-box();
  }
}