
#supersport-event-node-page{

h1 {
  a {
    color: #f7970b;
  }
}

h2 {
  a {
    color: #f7970b;
  }
}

.l-content{
  h1{
  display:none;
  }
}

footer {
  .node__submitted {
    dislplay: none;
  }
}

p {
  a {
    color: #f7970b;
  }
  display:none;
}

.field-content {
  a {
    color: #f7970b;
  }

}

.node__content {
  a {
    color: #f7970b;
  }
  .field--name-field-date,
  .field--name-field-sport,
  .field--name-field-league,
  .field--name-field-post-game-flag,
  .field--name-field-teams,
  .field--name-field-location,
  .field__label{
    display:none;
  }
  .field--type-entityreference{
    .field__items{
      .node__title{
        display:none;
      }
    }
  }
}

.links {
  a {
    color: #f7970b;
  }
}

.block__content {
  span a {
    color: #f7970b;
  }
}

.breadcrumb {
  a {
    display: none;
  }
}

.menu {
  a {
    color: #f7970b;
  }
}

.supersport-event-header{
  background-color: #151825;
}

}