// Requires teaser view mode

// Background color
.panels-flexible-homepage_flexible_layout {
  .panels-flexible-column-first {
    background: #003366;

    padding: 1em 0 1em 1em;
  }
}

// Main hero container
.view-id-main_feature_hero {

  .node__title {
    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    margin-top: 0;
    padding: 0;
  }

  .node__submitted,
  .node-readmore {
    display: none;
  }

  .node__content {

    .field--name-field-date {
      float: right;

      span {
        color: white;

        font-size: 0.85em;
        text-transform: uppercase;
      }
    }

    .field--name-field-sport,
    .field--name-field-league {
      a {
        color: #f7970b;

        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // Make them a single line
    .field--name-field-sport,
    .field--name-field-league {
      display: inline-block;
    }

    // Make dividers
    .field--name-field-league {
      border-left: 1px solid white;

      padding: 0 0.5em 0 0.5em;
      margin: 0 0.5em 0 0.5em;
    }
  }

  // Video entity styling
  .field--type-entityreference {

    .field__label {
      display: none;
    }

    article.node {
      header {
        display: none;
      }
    }
  }

  .field--type-entityreference:after {
    text-transform: uppercase;
    color: white;

    // Box look
    padding: 5px 25px 5px 25px;
    background-color: #f7970b;

    position: relative;
    top: -2.5em;
    left: 0.5em;
  }

  // Specific video entity styling
  .field--name-field-pre-live-video:after {
    content: "upcoming";
  }

  .field--name-field-post-live-video:after {
    content: "replay";
  }

  .field--name-field-live-video:after {
    content: "live";
  }
}